.button
{
 	-fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #009900;
    -fx-border-style: solid;
    -fx-label-padding: 15px;
    
}

.titel
{
	-fx-font-family: Garamond;
 	-fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}
